@font-face {
  font-family: Montserrat Light;
  src: url(../assets/fonts/Montserrat-Light.otf) format("opentype");
}

@font-face {
  font-family: Montserrat Bold;
  src: url(../assets/fonts/Montserrat-Bold.otf) format("opentype");
}

@font-face {
  font-family: Montserrat Regular;
  src: url(../assets/fonts/Montserrat-Regular.otf) format("opentype");
}

@font-face {
  font-family: Montserrat SemiBold;
  src: url(../assets/fonts/Montserrat-SemiBold.otf) format("opentype");
}

:host {
  font-family: "Montserrat Light";
  font-size: 14px;
}

