@font-face {
  font-family: Montserrat Light;
  src: url(../assets/fonts/Montserrat-Light.otf) format("opentype");
}

@font-face {
  font-family: Montserrat Bold;
  src: url(../assets/fonts/Montserrat-Bold.otf) format("opentype");
}

@font-face {
  font-family: Montserrat Regular;
  src: url(../assets/fonts/Montserrat-Regular.otf) format("opentype");
}

@font-face {
  font-family: Montserrat SemiBold;
  src: url(../assets/fonts/Montserrat-SemiBold.otf) format("opentype");
}

:host {
  font-family: "Montserrat Light";
  font-size: 14px;
}

.background {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  .cv {
    max-width: 800px;
    background: white;
  }
}

.cv-body {
  display: flex;
  flex-direction: row;

  .left-side {
    width: 300px;
    text-align: center;
  }

  .link {
    font-style: italic;
    text-decoration-line: underline;
    cursor: pointer;
  }

  .progress-label {
    margin-bottom: 4px;
  }

  .title-label {
    font-family: "Montserrat Regular";
    font-size: 15px;
  }
  .dates-label {
    color: rgb(179, 179, 179);
  }
  .description-label {
    margin-left: 40px;
    margin-top: 6px;
    margin-bottom: 2px;
    color: #505050;
  }

  .mini-item {
    margin: 10px;
  }

}
