/* You can add global styles to this file, and also import other style files */

.i-no-repeat {
  background-repeat: no-repeat;
}

.i-close-cross {
  @extend .i-no-repeat;
  background-image: url('/assets/icons/close-cross.svg');
}

.i-circle {
  @extend .i-no-repeat;
  background-image: url('/assets/icons/circle.svg');
}

.i-education {
  @extend .i-no-repeat;
  background-image: url('/assets/icons/education.svg');
}

.i-certificate {
  @extend .i-no-repeat;
  background-image: url('/assets/icons/certificate.svg');
}

.i-work {
  @extend .i-no-repeat;
  background-image: url('/assets/icons/work.svg');
}

.i-person {
  @extend .i-no-repeat;
  background-image: url('/assets/icons/person.svg');
}

.title {
  font-family: "Montserrat Regular";
  // text-transform: uppercase;
  font-variant-caps: petite-caps;
}

@font-face {
	font-family: 'Montserrat Regular';
	src: url('./assets/fonts/montserrat-regular-webfont.woff2') format(woff2)
}

@font-face {
	font-family: 'Montserrat Light';
	src: url('./assets/fonts/montserrat-light-webfont.woff2') format(woff2)
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('./assets/fonts/montserrat-bold-webfont.woff2') format(woff2)
}

@font-face {
	font-family: 'Montserrat SemiBold';
	src: url('./assets/fonts/montserrat-semibold-webfont.woff2') format(woff2)
}

:root {
  --color-white:white;
  --color-light: #D0EEFB;
  --color-semi-light: #84D7FA;
  --color-medium: #69ABC7;
  --color-semi-dark: #41697A;
  --color-dark: #005B82;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color:var(--color-light);
  color: #444;
  cursor: pointer;
  padding: 0; // 18px
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active { //, .accordion:hover
  background-color: var(--color-semi-light);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
